.test_image_and_result {
    background-color: brown;
    width: 70%;
 

}
.test_image_and_result img {
    width: 250px;
    height: 250px;
}

body {
    text-align: center;

}

h1 {
    color: blue;
}
.test_image_and_result2 {
    background-color: brown;
    width: 70%;
   margin-top: 200px;
}

h5 {
    font-size: 20px;
    float: center;
    background-color: aqua;
    border-radius: 10px;
     
}
h4 {
    float: center;
}
